<div class="pricing-header p-4 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal text-body-emphasis">
    <ng-container *ngIf="loggedUser; else another">
      Bienvenue, {{ loggedUser.lastName }}
    </ng-container>
    <ng-template #another>
      Bienvenue
    </ng-template>
  </h1>

  <p class="fs-5 text-body-secondary">Bienvenue dans notre application de gestion de tickets informatiques !</p>
</div>

<div *ngIf="statistics" class="row row-cols-1 row-cols-md-5 mb-3 text-center">
  @for (item of statistics; track item) {
    <div class="col">
      <div class="card mb-3 rounded-3 shadow-sm">
        <div class="card-body">
          <h2 class="card-title pricing-card-title">{{ item[0] }}</h2>
          <p class="text-body-secondary mt-2 mb-3" [innerHTML]="item[0] > 1 ? item[1] : item[2]"></p>
        </div>
      </div>
    </div>
  }
</div>

<p class="fs-5 text-body-secondary text-center">
  Que vous soyez un membre de notre équipe de support technique ou un utilisateur final, notre plateforme est conçue
  pour simplifier le processus de gestion des tickets informatiques, garantissant ainsi une résolution rapide et
  efficace de vos problèmes.
</p>

